@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    --md-sys-color-primary: rgb(208 188 254);
    --md-sys-color-surface-tint: rgb(208 188 254);
    --md-sys-color-on-primary: rgb(55 38 93);
    --md-sys-color-primary-container: rgb(78 61 117);
    --md-sys-color-on-primary-container: rgb(233 221 255);
    --md-sys-color-secondary: rgb(204 194 219);
    --md-sys-color-on-secondary: rgb(51 45 65);
    --md-sys-color-secondary-container: rgb(74 68 88);
    --md-sys-color-on-secondary-container: rgb(232 222 248);
    --md-sys-color-tertiary: rgb(240 184 199);
    --md-sys-color-on-tertiary: rgb(74 37 49);
    --md-sys-color-tertiary-container: rgb(99 59 72);
    --md-sys-color-on-tertiary-container: rgb(255 217 226);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(20 18 24);
    --md-sys-color-on-background: rgb(230 224 232);
    --md-sys-color-surface: rgb(20 18 24);
    --md-sys-color-on-surface: rgb(230 224 232);
    --md-sys-color-surface-variant: rgb(73 69 78);
    --md-sys-color-on-surface-variant: rgb(202 196 207);
    --md-sys-color-outline: rgb(148 143 153);
    --md-sys-color-outline-variant: rgb(73 69 78);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(230 224 232);
    --md-sys-color-inverse-on-surface: rgb(50 47 53);
    --md-sys-color-inverse-primary: rgb(102 85 142);
    --md-sys-color-primary-fixed: rgb(233 221 255);
    --md-sys-color-on-primary-fixed: rgb(33 15 71);
    --md-sys-color-primary-fixed-dim: rgb(208 188 254);
    --md-sys-color-on-primary-fixed-variant: rgb(78 61 117);
    --md-sys-color-secondary-fixed: rgb(232 222 248);
    --md-sys-color-on-secondary-fixed: rgb(30 25 43);
    --md-sys-color-secondary-fixed-dim: rgb(204 194 219);
    --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
    --md-sys-color-tertiary-fixed: rgb(255 217 226);
    --md-sys-color-on-tertiary-fixed: rgb(49 16 28);
    --md-sys-color-tertiary-fixed-dim: rgb(240 184 199);
    --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
    --md-sys-color-surface-dim: rgb(20 18 24);
    --md-sys-color-surface-bright: rgb(59 56 62);
    --md-sys-color-surface-container-lowest: rgb(15 13 19);
    --md-sys-color-surface-container-low: rgb(29 27 32);
    --md-sys-color-surface-container: rgb(33 31 36);
    --md-sys-color-surface-container-high: rgb(43 41 47);
    --md-sys-color-surface-container-highest: rgb(54 52 58);

    background: var(--md-sys-color-background);

    cursor: default;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.pointer {
    cursor: pointer;
}

.header {
    padding: 16px;
    margin: 0px;
    width: auto;
    height: auto;
}

.main {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    flex-direction: row;
    color: white;
    font-family: Montserrat;
}

.name {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    flex-direction: row;
    color: white;
    font-family: Montserrat;
}

.aka {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    flex-direction: row;
    color: white;
    font-family: Montserrat;
}

.aboutme {
    padding: 16px;
    margin: 0px;
    width: auto;
    height: auto;
}

.whoami {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    flex-direction: row;
    color: white;
    font-family: Montserrat;
}

.socials {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: white;
    font-family: Montserrat;
}

.socialsheader {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: white;
    font-family: Montserrat;
}

.socialsbuttons {
    margin: 0 auto;
    text-align: center
}

.button-primary {
    display: inline-block;
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: .2s;
    margin: 3px;
    font-family: "Montserrat";
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer;
}
  
.button-primary:hover {
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    transition: .2s;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--md-sys-color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out
}

#preloader.hidden {
    opacity: 0;
} 

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--md-sys-color-primary);
    border-top-color: #1a1a1a;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

#footer {
    bottom: 0;
    height: 40px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.data {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: white;
    font-family: Montserrat;
}

#invisibleLink:link{
    color:white;
    text-decoration: none; 
}

#invisibleLink:visited{
    color:white;
    text-decoration: none; 
}

#invisibleLink:hover{
    color:white;
    text-decoration: none; 
}

#invisibleLink:focus{
    color:white;
    text-decoration: none; 
}

#invisibleLink:active{
    color:white;
    text-decoration: none; 
}